.mb-3
    h4.text-dark-blue #{formatDateToString(current_period.start_date)} - #{formatDateToString(current_period.end_date)}

.goal-div
    #tab-tooltips
    include nav_tabs
    .tab-content
        include overview
        include goal_prep
        include goal_setting
        include checkins
        include goal_review
        if user.auth == 'Manager' || user.auth == 'HR'
            include employee_select
        if user.auth == 'HR'
            include admin