- var cd = new Date()
- cd.setYear(2018)
- cd.setMonth(2)
- var calc = calculateDate(cd)
- var cy = parseInt(calc.substr(0, 4))
- var cm = parseInt(calc.substr(5, 2))

ul.nav.nav-tabs
    li.nav-item
        a#overview-link.nav-link.active.font-weight-bold(data-toggle='tab', role='tab', href='#overview') 
            i.fa.fa-eye.fa-lg.mr-1(aria-hidden='true')
            span Overview
    li.nav-item
        a#goal-prep-link.nav-link.font-weight-bold(data-toggle='tab', role='tab', href="#goal-prep")
            i.fa.fa-list.fa-lg.mr-1(aria-hidden='true')
            span Goal Preparation
    li.nav-item
        if goal_prep.length === 0
            a#goal-setting-link.nav-link.font-weight-bold(data-toggle='tab', role='tab', href='#goal-setting', class='disabled', data-placement='top', title='You need to set your goal preparation first') 
                i.fa.fa-cog.fa-lg.mr-1(aria-hidden='true')
                span Goal Setting
        else
            a#goal-setting-link.nav-link.font-weight-bold(data-toggle='tab', role='tab', href='#goal-setting')
                i.fa.fa-cog.fa-lg.mr-1(aria-hidden='true')
                span Goal Setting
    li.nav-item
        if action.length === 0
            a#checkin-link.nav-link.font-weight-bold(data-toggle='tab', role='tab', href='#check-ins', class='disabled', data-placement='top', title='You need actions to access this tab') 
                i.fa.fa-check-square-o.fa-lg.mr-1(aria-hidden='true')
                span Check-ins
        else
            a#checkin-link.nav-link.font-weight-bold(data-toggle='tab', role='tab', href='#check-ins')
                i.fa.fa-check-square-o.fa-lg.mr-1(aria-hidden='true')
                span Check-ins
    li.nav-item
        if action.length === 0
            a#goal-review-link.nav-link.font-weight-bold(data-toggle='tab', role='tab', href='#goal-review', class='disabled', data-placement='top', title='You need actions to access this tab') 
                i.fa.fa-file-text-o.fa-lg.mr-1(aria-hidden='true')
                span Goal Review
        else
            a#goal-review-link.nav-link.font-weight-bold(data-toggle='tab', role='tab', href='#goal-review')
                i.fa.fa-file-text-o.fa-lg.mr-1(aria-hidden='true')
                span Goal Review
    if user.auth === 'Manager' || user.auth === 'HR'
        li.nav-item
            a#view-employee-link.nav-link.font-weight-bold(data-toggle='tab', role='tab', href='#employee-select')
                i.fa.fa-group.fa-lg.mr-1(aria-hidden='true')
                span View Employee
    if user.auth === 'HR'
        li.nav-item
            a#admin-link.nav-link.font-weight-bold(data-toggle='tab', role='tab', href='#admin')
                i.fa.fa-user-circle-o.fa-lg.mr-1(aria-hidden='true')
                span Admin