#show-report.position-absolute.w-100.h-100.card
    .card-header.d-flex.justify-content-end.align-items-center
        h3.mx-auto
        button#close-report-button.btn.btn-danger(type='button')
            i.fa.fa-times.fa-2x(aria-hidden='true')
    .card-body.h-100
        .w-100
            #build-table-loading.d-flex.flex-column.justify-content-center.align-items-center.w-100
                i.fa.fa-spinner.fa-pulse.fa-5x(aria-hidden='true')
                span Building Table...
            #report-table-div.w-100.d-none
                table#report-table.table.table-striped.table-bordered.table-hover.w-100
                    thead
                        tr
                            th Emp #
                            th Last Name
                            th First Name
                            th Job Title
                            th Division
                            th Department
                            th Manager
                            th Goal
                            th Action 1
                            th Status
                            th Final Status
                            th Due Date
                            th Budgeted Hours
                            th Training Cost
                            th Expenses
                            th Total Cost
                            th Employee Check-in Comment
                            th Manager Check-in Comment
                            th Employee Goal Review Comment
                            th Manager Goal Review Comment
                            th Action 2
                            th Status
                            th Final Status
                            th Due Date
                            th Budgeted Hours
                            th Training Cost
                            th Expenses
                            th Total Cost
                            th Employee Check-in Comment
                            th Manager Check-in Comment
                            th Employee Goal Review Comment
                            th Manager Goal Review Comment
                            th Action 3
                            th Status
                            th Final Status
                            th Due Date
                            th Budgeted Hours
                            th Training Cost
                            th Expenses
                            th Total Cost
                            th Employee Check-in Comment
                            th Manager Check-in Comment
                            th Employee Goal Review Comment
                            th Manager Goal Review Comment
                            th Action 4
                            th Status
                            th Final Status
                            th Due Date
                            th Budgeted Hours
                            th Training Cost
                            th Expenses
                            th Total Cost
                            th Employee Check-in Comment
                            th Manager Check-in Comment
                            th Employee Goal Review Comment
                            th Manager Goal Review Comment
                    tfoot
                        tr
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th
                            th